
.flex{
    display:flex;
    flex-wrap: wrap;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


/*HEADER*/
/*MENU*/
header{
    font-weight: bold;
    z-index: 1000;
}
.menu>div{
    padding: 10px;
}
.menu {
    font-size: 12px;  
    background-color: #ea320d;  
}

.menu>h img{
    width: 30% ;
}

.menu>div.search{
    position: absolute;
    left: 55%;
}
.menu>div.search>div{
    height: 11px;
    padding: 10px;
    border: 1.5px solid white;
    border-radius: 0 4px 4px 0;
    position: relative;
    background-color: #ea320d;  
    left:0;
}
.menu>div.search>input{
    height: 30px;
    width: 200px;
   border-right: none;
   border: 1px solid white;
   border-radius: 4px 0 0 4px;
   font-size: 15px;
   margin: 1.5px;
}
.menu>div.user{
    margin-left: auto;
}
.menu>div.cart{
    font-size: 20px;
    border-radius: 50%;
    background-color: azure;
    align-content: center;
    margin: 5px;
    position: absolute;
    right: 15%;
}

.menu>div.cart:hover{
    background-color:#cdcfd1;
    color: #ea320d;

}
/*HOME*/
.home{
    margin:0 6% 0 6%;
    background-color: white;
    padding: 10px;
}

.home>h img{
    width: 50px;
    padding-right: 20px;
}

.home>div>a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
    margin: 2px;
}

.home>div{
    list-style-type: none;
    text-align: center;
    width: 18.5%;
    font-size: 15px;
}

.home>div>a:hover {
   color: #ea320d;
   background-color: rgb(202, 205, 204);
   border-radius: 10px 10px 0 0 ;
}
.active {
    color: #ea320d !important;
   background-color: rgb(202, 205, 204);
   border-radius: 10px 10px 0 0 ;
}
/*NAV*/
/* styles.css */

.slideshow {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

/* Fade effect */
.fade {
    -webkit-animation: fade 1.5s ease-in-out;
    animation: fade 1.5s ease-in-out;
}

@-webkit-keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}


/*FOOTER*/
.info{
    text-indent: 15px;
    padding: 2%;
}

 .info>div>img{
    width: 50px;
 }

 .info>p{
    font-size: 12px;
 }

 /*MAIN*/
 /*SECTION*/
 .products>div{
    margin: 20px;
 }
 .products>div>p{
    border: 1px solid rgb(199, 198, 198);
    padding:8px;
 }
 .products{
    margin: 0 5% 0 5%;
 }
 .product{
    width: 25%;
    box-sizing: border-box;
    padding: 15px;
}
.product > div{
    border-radius: 4px;
    position: relative;
    border: 1px ridge rgb(215, 214, 214);
    background-color: rgb(243, 239, 238);
}

.product>div>img{
    width:100%;
    border-radius: 4px 4px 0 0;
}

.product>div>div{
    margin: 15px;
    border-top: 1px ridge rgb(215, 214, 214);
}
.product>div>div>p{
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.product>div>div>p:first-child{
    font-weight: bold;
    font-size: 15px;
}
.product>div>div>p:last-child{
    color: gray;
    font-weight: lighter;
    font-size: 10px;
}

.product>div:hover{
   box-shadow: 1px 1px 1px 1px rgb(218, 215, 215);
}

.discount{
    font-size: 12px;
    color: red;
    background-color: #f7dfda;
    padding: 3px;
    position: relative;
    border-radius: 2px;
    left: 5px;
}

.price{
    color: red;
    font-size: 15px;
}

.dong{
    font-size: 12px;
    padding: 2px;
    color: red;
}
 /*GO TOP*/
a#goTop>img{
    border-image:50%;
    width: 4%;
    display: block;
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 1000;
}

/*DANG NHAP/DANG KI*/

.login{
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 100px;
    text-align: center;
}
h2{
    color: #868787;
    font-family: sans-serif;
}
.login input{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}
.login button{
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: orangered;
    color: white;
}
button:hover{
    font-size: 15px;
}


